body {
    background-color: white;
    font-size: 100%;
    color:#434343;
}
.siteheader {
    color:#7f607b;
    font-family:"Pacifico", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 4em;
    text-align: center;
    text-shadow: 2px 2px 3px gray;
}



.topnav {
    background-color:#cfafcb;
    display:flex;
    justify-content: center;
}
.topnav a {
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration:none;
    font-size:17px;
    display:inline-block;
}

.topnav a:hover{
background-color:#cfafcb;
color:white;
text-shadow:#7b6378;
font-size:17px;
text-decoration:underline overline white;
text-underline-offset: 5px;
}

.topnav a.active {
    background-color:#cfafcb;
    color: white;
    font-size:17px;
    text-decoration:underline overline white;
    text-underline-offset: 5px;
}
.homeimage {
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-top: 25px;
    margin-right: auto;
    margin-bottom: 25px;
    margin-left: auto;
    width: 50%;
}
    
.intro {
    text-indent:15px;
}

h2 {
    color:#7f607b;
    text-align: center;
    font-family: "Pacifico", serif;
    font-size: 2em;
    letter-spacing:1px;
}

img {
    width:744px;
    height:auto;
    border-radius: 15px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}